<?php
return array(
    'db' => array(
        'adapters' => array(
            'main' => array(
                'driver' => 'Pdo_Mysql',
                'database' => 'zf2template',
                'username' => 'root',
                'password' => 'root',
                'hostname' => 'localhost',
            ),
        ),
    ),
);
